.box{
    background-color: rgb(64, 0, 255);
    height: 200px;
    width: 300px;
    color: white;
    border: solid black;
   
}

.responsive-box{
    background-color: rgba(0, 255, 183);
    height: 50%;
    width: 50%;
    color: white;
    border: solid black;
   
}

.padded-text{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.custom-padding{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.border-box{
    border: 2px, solid, black
}

.rounded-border{
    border: 3px, dotted, red;
    border-radius: 15px;
}

.margin-text{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.custom-margin{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.inline-element{
    display: inline;
}


.inline-block-element{
    display: block;
}

.hidden-element{
    display: none;
}

.visible-element{
    visibility: visible;
}

.invisible-element{
    visibility: hidden;
}

.transparent-box{
    background-color: rgba(0, 0, 255, 0.5);
}

.block-element{
    display: block;
}